/* COGS 187A coding assignment 2 - index.css */
hr {
	opacity: 0.5;
	width: 50%;
}

.project {
	position: relative;
	padding: 20px 0px 20px 0px;
	width: 80%;
	/* background-color: #e3d456; */
}

.project-content {
	font-size: 1.2em;
	position: relative;
	min-width: 100%;
	top: 20px;
	left: 20px;
	background-color: #D8D8D8;
	z-index: 0;
	padding: 20px 0px 10px 20px;
}

.project-title {
	position: absolute;
	background-color: #000; 
	min-width: 200px;
	height: 40px;
	margin: 0;
	padding-right: 50px;
	z-index: 2;
}

.project-shit {
	vertical-align: top;
	margin: 10px;
	display: inline-block;
	/* background-color: yellow; */
	width: 45%;
}

.project-shit img {
	position: relative;
	width: 100%;
}