/* marisak.github.io - index.css */
.project {
	position: relative;
	padding: 20px 0px 20px 0px;
	width: 80%;
}

.project-title {
	position: absolute;
	background-color: #000; 
	min-width: 200px;
	height: 40px;
	margin: 0;
	padding-right: 50px;
	z-index: 2;
}

.project-subtitle {
	position: absolute;
	background-color: #000;
	min-width: 220px;
	height: 40px;
	margin: 0;
	padding-right: 50px;
	z-index: 2;
}

.project-content, .project-subcontent {
	font-size: 1.2em;
	position: relative;
	max-width: 80%;
	top: 20px;
	left: 20px;
	background-color: #D8D8D8;
	z-index: 0;
	padding: 20px 10px 10px 20px;
}

.project-shit {
	vertical-align: top;
	margin-right: 10px; 
	display: inline-block;
	width: 45%;
	padding-top: 10px;
}

.project-shit img {
	position: relative;
	width: 100%;
}