@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body {
	font-family: 'Noto Serif', serif;
	padding: 20px;
	/*font-size: 18px;*/
	font-size: 1.25em;
	line-height: 2;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Noto Sans', sans-serif;
}

h1, h2 {
	font-weight: 700;
	line-height: 1.5;
}

.img-container {
	text-align: center;
	max-width: 80%;
}

.img-caption {
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.15;
}

.shitty-nav {
	position: fixed;
	left: 80%;
	background-color: #B7B6C1;
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.5;
	opacity: 0.8;
}

.equation {
	font-size: 1.2em;
	text-align: center;
	background-color: #f9f9f9;
	/*
	border: 1px solid #000;
	border-style: solid;
	border-width: 1px;
	border-color: #000; */
}