@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
}

.content {
	position: relative;
	padding-top: 80px;
}

.topnav {
	background-color: #D8D8D8;
	padding: 10px 0;
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	border-bottom: 1px solid #C8C8C8;
	z-index: 4;
}

.topnav a {
	font-size: 20pt;
	color: #000;
	cursor: pointer;
}

.topnav-content {
	margin: auto;
	max-width: 1100px;
}

.topnav-left {
	float: left;
	padding-left: 10px;
}

.topnav-right {
	float: right;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.topnav-right__item {
	display: inline-block; 
	text-transform: uppercase;
	font-size: 12px;
	padding: 0 10px;
	color: #5c6772;
	cursor: pointer;
}

#longname {
	width: 400px;
}